body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F9C4A9;
}


img{
    width:200px;
    border:3px solid #b07fbc;
    border-radius:5px;
}

.card{
    margin:50px auto;
    display:flex;
    width:450px;
    background-color: #a9def9;
    padding:15px 0 15px;
    justify-content:space-around;
    border-bottom:10px solid #b07fbc;
    border-top:2px dotted #b07fbc;
    border-left:2px dotted #b07fbc;
    border-right:2px dotted #b07fbc;
    box-shadow:20px 20px 30px hsl(20, 46%, 60%);;
}

.text{
    text-align:center;
    font-size:18px;
    padding-left:8px;
    padding-top:20px;
    
}
#F9C4A9